@import "../base/fonts";
@import "../base/colors";

.main {
	@apply h-screen flex items-center justify-center relative;

	.mask,
	.body {
		@apply cursor-default h-full w-full flex items-center justify-center absolute;

		p {
			font-family: $main;
			@apply max-w-7xl w-full p-[40px] text-[40px] 2xl:text-[84px] text-accent-default leading-[3.5rem] 2xl:leading-[6.5rem] text-left;

			a,
			span {
				@apply text-secondary-default;
			}
		}
	}

	.mask {
		mask-image: url("../../public/svg/square-sharp-mask.svg");
		mask-repeat: no-repeat;
		mask-size: 40px;
		@apply bg-primary-default bg-cover bg-no-repeat bg-center;

		p {
			@apply text-white;

			a,
			span {
				@apply text-tertiary-default underline;
			}
		}
	}
}
